<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-light px-4">
      <h1>Wagon's Yelp</h1>
      <div class="align-right ">
        <%= link_to 'Restaurants', restaurants_path, class: "border-right pr-3" %>
        <%= link_to 'Add a restaurant', new_restaurant_path, class: "pl-3" %>
      </div>
    </nav>
    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>
